.span-8.prepend-8.append-8.last
      
  .message
    - if @flash[:error]
      .error= @flash[:error]
    - if @flash[:notice]
      .notice= @flash[:notice]

  %br
  %form{:method => "post", :action => "/stats/"}
    %fieldset
      %p    
        %label Username:
        %br
        %input.title{:type => "text", :id => "username", :name => "username", :value => ""}
      %p
        %label Password:
        %br
        %input.title{:type => "password", :id => "password", :name => "password", :value => ""}
      %p
        %input{:type => "submit", :value => "Submit"}